.container.down {
    display: none;
}

.card-title {
    font-family: 'Uncial Antiqua', cursive;
}
.experiencia {
    height: 450px;
    width: 450px;
    margin: 2px;
    border-radius: 400px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items:center;
    justify-content: center;
    box-shadow: 0 8px 16px #0c5867;
}
audio {
    margin-bottom: 2%;
}